<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
>
  <mat-card *ngIf="featuredDish" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ featuredDish.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{baseURL + featuredDish.image }}"
      alt="{{ featuredDish.name }}"
    />
    <mat-card-content>
      <p>{{ featuredDish.description }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="featuredPromotions" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ featuredPromotions.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{baseURL +  featuredPromotions.image }}"
      alt="{{ featuredPromotions.name }}"
    />
    <mat-card-content>
      <p>{{ featuredPromotions.description }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="featuredLeadership" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ featuredLeadership.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{baseURL +  featuredLeadership.image}}"
      alt="{{ featuredLeadership.name }}"
    />
    <mat-card-content>
      <p>{{ featuredLeadership.designation }}</p>
      <p>{{ featuredLeadership.description }}</p>
    </mat-card-content>
  </mat-card>
</div>


<div [hidden]="featuredPromotions|| errMess">
  <!-- <mat-spinner></mat-spinner> -->
  <h4 style="color:red">Loading . . . Please Wait</h4>
</div>

<div *ngIf="errMess">
  <!-- <mat-spinner></mat-spinner> -->
  <h2>Error</h2>
  <h4>{{errMess | json}}</h4>
</div>